In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
%matplotlib inline

In [2]:
files = ['./train-IEEE-CIS-Fraud-Detection.data',
         './test-IEEE-CIS-Fraud-Detection.data']

In [3]:
train_df = pickle.load(open(files[0], 'rb'))
print(train_df.shape)
test_df = pickle.load(open(files[1], 'rb'))
print(test_df.shape)

(590540, 432)
(506691, 432)

In [4]:
train_df.head()

,C1,C10,C11,C12,C13,C14,C2,C3,C4,C5,...,id_30,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,isFraud
TransactionID,,,,,,,,,,,,,,,,,,,,,
2987000,1.0,0.0,2.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,Windows,safari,32.0,2073600.0,match_status:2,T,F,T,F,0
2987001,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,Windows,safari,32.0,2073600.0,match_status:2,T,F,T,F,0
2987002,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,Windows,safari,32.0,2073600.0,match_status:2,T,F,T,F,0
2987003,2.0,0.0,1.0,0.0,25.0,1.0,5.0,0.0,0.0,0.0,...,Windows,safari,32.0,2073600.0,match_status:2,T,F,T,F,0
2987004,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,Android,samsung,32.0,2397600.0,match_status:2,T,F,T,T,0

In [5]:
test_df.head()

,C1,C10,C11,C12,C13,C14,C2,C3,C4,C5,...,id_30,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,isFraud
TransactionID,,,,,,,,,,,,,,,,,,,,,
3663549,6.0,0.0,5.0,1.0,115.0,6.0,6.0,0.0,0.0,3.0,...,Windows,safari,32.0,2073600.0,match_status:2,T,F,T,F,-1
3663550,3.0,0.0,1.0,1.0,12.0,2.0,2.0,0.0,0.0,0.0,...,Windows,safari,32.0,2073600.0,match_status:2,T,F,T,F,-1
3663551,2.0,0.0,2.0,0.0,22.0,2.0,2.0,0.0,0.0,0.0,...,Windows,safari,32.0,2073600.0,match_status:2,T,F,T,F,-1
3663552,5.0,0.0,2.0,0.0,7.0,4.0,2.0,0.0,0.0,1.0,...,Windows,safari,32.0,2073600.0,match_status:2,T,F,T,F,-1
3663553,6.0,0.0,6.0,0.0,14.0,6.0,6.0,0.0,0.0,2.0,...,Windows,safari,32.0,2073600.0,match_status:2,T,F,T,F,-1

In [6]:
def plot_hist(df):
    plt.figure(figsize=(20, 432))
    for index, column in enumerate(df.columns):
        plt.subplot(108, 4, index+1, sharey=True, )
        plt.hist(df[column], color = 'blue', edgecolor = 'black', bins = int(180/5))
        plt.xticks(rotation=70)
        plt.xlabel(column)
    plt.show()

In [7]:
def plot_sns_scatterplot(df):
    plt.figure(figsize=(20, 432))
    for index, column in enumerate(df.drop(columns=['isFraud']).columns):
        plt.subplot(108, 4, index+1)
        sns.scatterplot(x=column, y='isFraud', data=df)

In [8]:
# plot_hist(train_df)

In [9]:
# plot_sns_scatterplot(train_df)

In [10]:
# plt.figure(figsize=(20, 432))
# for index, column in enumerate(train_df.drop(columns=['isFraud']).columns):
#     plt.subplot(108, 4, index+1)
#     sns.barplot(x=column, y='isFraud', data=train_df)

Categorical Features:
ProductCD
card1 - card6
addr1, addr2
Pemaildomain Remaildomain
M1 - M9

DeviceType
DeviceInfo
id12 - id38

In [21]:
cat_cols = []
for i in range(1,7):
    cat_cols.append('card'+str(i))
for i in range(1,3):
    cat_cols.append('addr'+str(i))
for i in range(1, 10):
    cat_cols.append('M'+str(i))
for i in range(12, 39):
    cat_cols.append('id_'+str(i))
cat_cols.append('ProductCD')
cat_cols.append('DeviceType')
cat_cols.append('P_emaildomain') 
cat_cols.append('R_emaildomain')
display(cat_cols)

['card1',
 'card2',
 'card3',
 'card4',
 'card5',
 'card6',
 'addr1',
 'addr2',
 'M1',
 'M2',
 'M3',
 'M4',
 'M5',
 'M6',
 'M7',
 'M8',
 'M9',
 'id_12',
 'id_13',
 'id_14',
 'id_15',
 'id_16',
 'id_17',
 'id_18',
 'id_19',
 'id_20',
 'id_21',
 'id_22',
 'id_23',
 'id_24',
 'id_25',
 'id_26',
 'id_27',
 'id_28',
 'id_29',
 'id_30',
 'id_31',
 'id_32',
 'id_33',
 'id_34',
 'id_35',
 'id_36',
 'id_37',
 'id_38',
 'ProductCD',
 'DeviceType',
 'P_emaildomain',
 'R_emaildomain']

In [22]:
dum_cols = []
for column in train_df.columns:
    if train_df[column].dtype == 'object':
        dum_cols.append(column)
display(dum_cols)

['DeviceType',
 'M1',
 'M2',
 'M3',
 'M4',
 'M5',
 'M6',
 'M7',
 'M8',
 'M9',
 'P_emaildomain',
 'ProductCD',
 'R_emaildomain',
 'card4',
 'card6',
 'id_12',
 'id_15',
 'id_16',
 'id_23',
 'id_27',
 'id_28',
 'id_29',
 'id_30',
 'id_31',
 'id_34',
 'id_35',
 'id_36',
 'id_37',
 'id_38']

In [23]:
for col in dum_cols:
    if col not in cat_cols:
        print(col)
    else:
        print(col,'column included in cat_col')

DeviceType column included in cat_col
M1 column included in cat_col
M2 column included in cat_col
M3 column included in cat_col
M4 column included in cat_col
M5 column included in cat_col
M6 column included in cat_col
M7 column included in cat_col
M8 column included in cat_col
M9 column included in cat_col
P_emaildomain column included in cat_col
ProductCD column included in cat_col
R_emaildomain column included in cat_col
card4 column included in cat_col
card6 column included in cat_col
id_12 column included in cat_col
id_15 column included in cat_col
id_16 column included in cat_col
id_23 column included in cat_col
id_27 column included in cat_col
id_28 column included in cat_col
id_29 column included in cat_col
id_30 column included in cat_col
id_31 column included in cat_col
id_34 column included in cat_col
id_35 column included in cat_col
id_36 column included in cat_col
id_37 column included in cat_col
id_38 column included in cat_col

In [26]:
train_df = pd.get_dummies(train_df, columns=cat_cols)
print(train_df.shape)

(590540, 17610)